package ${target.javaPackageFromFolder(${SRC})};

import org.springframework.stereotype.Component;
import ${ENTITY_PKG}.${beanClass.name};
#if ( $beanClass.hasCompositePrimaryKey() )
import ${ENTITY_PKG}.${beanClass.name}Id;
#set( $keyType = "${beanClass.name}Id" )
#else
#foreach( $field in $entity.keyAttributes )
#set( $keyType = "$field.formatedType(0)" )
#end
#end
import ${ROOT_PKG}.dao.jpa.${beanClass.name}Dao;
import ${ROOT_PKG}.dao.jpa.impl.base.DaoImpl;

/**
 * DAO : ${beanClass.name}.
 */
@Component
public class ${beanClass.name}DaoImpl extends DaoImpl<${beanClass.name}, ${keyType}> implements ${beanClass.name}Dao {

	/**
	 * Constructor.
	 */
	public ${beanClass.name}DaoImpl() {
		super(${beanClass.name}.class);
	}

}
