package ${target.javaPackageFromFolder(${SRC})};

import java.util.List;

import javax.annotation.Resource;
import javax.servlet.http.HttpServletRequest;

import org.springframework.beans.propertyeditors.CustomNumberEditor;
import org.springframework.stereotype.Controller;
import javax.validation.Valid;
import org.springframework.ui.Model;
import org.springframework.validation.BindingResult;
import org.springframework.web.bind.WebDataBinder;
import org.springframework.web.bind.annotation.InitBinder;
import org.springframework.web.bind.annotation.ModelAttribute;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.servlet.ModelAndView;

import ${ENTITY_PKG}.${beanClass.name};

## Clé primaire
#if ( $beanClass.hasCompositePrimaryKey() )
import ${ENTITY_PKG}.${beanClass.name}Id;
#set( $keyType = "${beanClass.name}Id" )
#set( $keyName = "id" )
#set( $keySetter = "setId" )
#set( $keyGetter = "getId" )
#else
#foreach( $field in $entity.keyAttributes )
#set( $keyType = "$field.wrapperType" )
#set( $keyName = "$field.formatedName(0)" )
#set( $keyField = $field )
#set( $keySetter = $field.setter )
#set( $keyGetter = $field.getter )
#end
#end
## keyURLPath
#set( $keyURLPath = "")
#foreach( $field in $entity.keyAttributes )
#if( $keyURLPath != "" ) #set( $keyURLPath = $keyURLPath + "/" ) #end
#set( $keyURLPath = $keyURLPath+"{"+${field.formatedName(0)}+"}" )
#end
## keyPathVariable
#set( $keyPathVariable = "")
#foreach( $field in $entity.keyAttributes )
#if( $keyPathVariable != "" ) #set( $keyPathVariable = $keyPathVariable + ", " ) #end
#set( $keyPathVariable = $keyPathVariable+"@PathVariable("""+${field.formatedName(0)}+""") "+${field.wrapperType}+" "+${field.formatedName(0)} )
#end
## keyGetterToArg
#set( $keyGetterToArg = "")
#foreach( $field in $entity.keyAttributes )
#if( $keyGetterToArg != "" ) #set( $keyGetterToArg = $keyGetterToArg + ", " ) #end
#if ( $beanClass.hasCompositePrimaryKey() )
#set( $entityNameForKeyGetter = ${entity.name.toLowerCase()}+".getId()" )
#else
#set( $entityNameForKeyGetter = ${entity.name.toLowerCase()} )
#end
#set( $keyGetterToArg = $keyGetterToArg+$entityNameForKeyGetter+"."+${field.getter}+"()" )
#end
import ${ROOT_PKG}.service.${beanClass.name}Service;
import ${ROOT_PKG}.web.helper.ControllerHelper;

/**
 * ${beanClass.name}.
 */
@Controller
@RequestMapping("/${beanClass.name.toLowerCase()}")
public class ${beanClass.name}Controller 
{
	@Resource
    private ${beanClass.name}Service ${beanClass.name.toLowerCase()}Service;
	@Resource
	private ControllerHelper controllerHelper;

	@InitBinder
	protected void initBinder(WebDataBinder binder) {
		binder.registerCustomEditor(Integer.class, new CustomNumberEditor(Integer.class, true));
	}

	void populateEditForm(Model uiModel, ${beanClass.name} ${beanClass.name.toLowerCase()}) {
		uiModel.addAttribute("${beanClass.name.toLowerCase()}", ${beanClass.name.toLowerCase()});
		// Listes déroulantes des objets liés
		// uiModel.addAttribute("bases", Base.findAllBases());
	}

	@RequestMapping("/create")
	public String create(Model uiModel) {
		this.populateEditForm(uiModel, new ${beanClass.name}());
		return "${beanClass.name.toLowerCase()}/edit";
	}

	@RequestMapping()
	public String list(Model uiModel) {
		List<${beanClass.name}> list = ${beanClass.name.toLowerCase()}Service.loadAll();
		uiModel.addAttribute("list${beanClass.name}s", list);
		return "${beanClass.name.toLowerCase()}/list";
	}

	@RequestMapping(method = RequestMethod.PUT)
	public String save(@Valid ${beanClass.name} ${beanClass.name.toLowerCase()}, BindingResult result, HttpServletRequest httpServletRequest) {
		if (!result.hasErrors()) {
			${beanClass.name.toLowerCase()} = ${beanClass.name.toLowerCase()}Service.save(${beanClass.name.toLowerCase()});
			return "redirect:/${beanClass.name.toLowerCase()}/"+controllerHelper.encodeUrlPathSegments(httpServletRequest, $keyGetterToArg);
		} else {
			return "${beanClass.name.toLowerCase()}/edit";
		}
	}

	@RequestMapping(value = "/${keyURLPath}")
	public String edit(Model uiModel, $keyPathVariable) {
#if ( $beanClass.hasCompositePrimaryKey() )
		$keyType $keyName = new $keyType();
#foreach( $field in $entity.keyAttributes )
		${keyName}.${field.setter}($field.formatedName(0));
#end
#end
		${beanClass.name} ${beanClass.name.toLowerCase()} = ${beanClass.name.toLowerCase()}Service.load($keyName);
		this.populateEditForm(uiModel, ${beanClass.name.toLowerCase()});
		return "${beanClass.name.toLowerCase()}/edit";
	}

	@RequestMapping(value = "/delete/${keyURLPath}")
	public String delete(Model uiModel, $keyPathVariable) {
#if ( $beanClass.hasCompositePrimaryKey() )
		$keyType $keyName = new $keyType();
#foreach( $field in $entity.keyAttributes )
		${keyName}.${field.setter}($field.formatedName(0));
#end
#end
		${beanClass.name.toLowerCase()}Service.delete($keyName);
		return "redirect:/${beanClass.name.toLowerCase()}";
	}
	
}
