#set( $_ = "$" )
## Clé primaire
#if ( $beanClass.hasCompositePrimaryKey() )
#set( $keyType = "${beanClass.name}Id" )
#set( $keyName = "id" )
#set( $keySetter = "setId" )
#set( $keyGetter = "getId" )
#else
#foreach( $field in $entity.keyAttributes )
#set( $keyType = "$field.wrapperType" )
#set( $keyName = "$field.formatedName(0)" )
#set( $keyField = $field )
#set( $keySetter = $field.setter )
#set( $keyGetter = $field.getter )
#end
#end
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:joda="http://www.joda.org/joda/time/tags" xmlns:s="http://www.springframework.org/tags" xmlns:form="http://www.springframework.org/tags/form" version="2.0">
<jsp:directive.page contentType="text/html;charset=UTF-8"/>
<jsp:
<jsp:output omit-xml-declaration="yes"/>
		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
#foreach( $field in $beanClass.attributes )
#set( $fieldName = "current.${field.name}" )
#if( $field.isKeyElement() && $beanClass.hasCompositePrimaryKey() )
#set( $fieldName = "current.key.${field.formatedName(0)}" )
#end
						<th><s:message code="${beanClass.name.toLowerCase()}.${field.formatedName(0)}"/></th>
#end
						<s:url value="/${beanClass.name.toLowerCase()}/create" var="url_create" />
						<th><a class="btn btn-info" href='${_}{url_create}'><s:message code="create"/></a></th>
					</tr>
				</thead>
				<tbody>
					<c:forEach items="${_}{list${beanClass.name}s}" var="${beanClass.name.toLowerCase()}">
						<tr>
#foreach( $field in $beanClass.attributes )
#if( $field.isKeyElement() && $beanClass.hasCompositePrimaryKey() )
							<td>${_}{${beanClass.name.toLowerCase()}.${keyName}.${field.formatedName(0)}}</td>
#else
							<td>${_}{${beanClass.name.toLowerCase()}.${field.formatedName(0)}}</td>
#end
#end
## Clé primaire URL
#set( $keyURLPath = "")
#foreach( $field in $entity.keyAttributes )
#if( $field.isKeyElement() && $beanClass.hasCompositePrimaryKey() )
#set( $keyURLPath = $keyURLPath+"/${"+${beanClass.name.toLowerCase()}+"."+$keyName+"."+${field.formatedName(0)}+"}" )
#else
#set( $keyURLPath = $keyURLPath+"/${"+${beanClass.name.toLowerCase()}+"."+${field.formatedName(0)}+"}" )
#end
#end
							<s:url var="edit${beanClass.name}Url" value="/${beanClass.name.toLowerCase()}$keyURLPath"/>
							<td><a class="btn btn-info" href="${_}{edit${beanClass.name}Url}"><s:message code="edit"/></a></td>
						</tr>
					</c:forEach>
				</tbody>
			</table>
		</div>
</div>